/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.services-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.services-header {
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

@media only screen and (max-width: 800px) {
	.services-header {
		flex-direction: column-reverse;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 0;
        padding-bottom: 0;
	}
  }



  @media only screen and (max-width: 600px) {
    .services-nav{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 0;
     width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .services-nav a:first-child {
        text-align: center;
      }
}

@media only screen and (max-width: 600px) {
    .services-nav a:last-child {
        padding-right: 0;
      }
}

.services-nav a {
	text-decoration: none;
	color: grey;
	padding: 20px;
}


  @media only screen and (max-width: 800px) {
	.services-logo {
		padding-bottom: 20px;
	}
  }

.services-header nav a:nth-child(2) {
	padding-left: 20px;
}

.services-marketing {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.services-header-img {
	padding: 20px;
}




@media only screen and (max-width: 400px) {
	.services-header-img {
		width: 100%;
		height: auto;
	}
  }

.services-main-section {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}



.services-intro-text {
	padding: 20px;
}

.row-1 {
	display: flex;
}
@media only screen and (max-width: 400px) {
	.row-1 {
		
	  flex-direction: column;
	}
  }

  @media only screen and (max-width: 600px) {
	.row-1 {
		
	  flex-direction: column;
	}
  }

.row-2 {
	display: flex;
}

@media only screen and (max-width: 400px) {
	.row-2 {
	  flex-direction: column;
	}
  }

  @media only screen and (max-width: 600px) {
	.row-2 {
	  flex-direction: column;
	}
  }

.services-bottom-content {
	display: flex;
	padding: 20px;
}

.row-3 {
	display: flex;
}

@media only screen and (max-width: 400px) {
	.row-3 {
		flex-direction: column;
	}
  }

  @media only screen and (max-width: 600px) {
	.row-3 {
		flex-direction: column;
	}
  }

.box {
	background-color: lightgray;
	padding: 20px;
	border: 1px solid black;
	margin: 20px;
}

.cta-button {
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
	background-color: white;
}

.services-some-facts {
	padding: 20px;
}

.services-bottom-image {
	padding: 20px;
}

@media only screen and (max-width: 400px) {
	.services-info-img {
		width: 100%;
		height: auto;
	}
  }

@media only screen and (max-width: 400px) {
	.services-bottom-content {
		
	  flex-direction: column-reverse;
	}
  }


  @media only screen and (max-width: 600px) {
	.services-bottom-content {
		
	  flex-direction: column-reverse;
	}
  }

  @media only screen and (max-width: 600px) {
	.copyright {
	text-align: center;
	}
  }